.controls__top-line {
  width: 280px;
  height: 45px;
  background-color: @black-opacity;
  position: relative;
}

.controls__scale {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: @white-opacity;
}

.controls__toggle {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  background-color: @basic-white;
  border-radius: 10px;
}

.controls__bottom-line {
  width: 280px;
  height: 66px;
  background-color: @gray-light-bg;
}

.controls__icon {
  position: absolute;
  border: none;
  padding: 0;
  fill: @gray-controls;

  &--replay {
    bottom: 26px;
    left: 19px;
    width: 16px;
    height: 20px;
  }

  &--subtitles {
    bottom: 25px;
    right: 80px;
    width: 32px;
    height: 20px;
  }

  &--fullscreen {
    bottom: 25px;
    right: 29px;
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    fill: @black-light;
  }

  &:active {
    fill: @black-light;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .controls__top-line {
    height: 94px;
    width: 100%;
  }

  .controls__scale {
    top: 45px;
    left: 93px;
    width: 389px;
  }

  .controls__toggle {
    position: absolute;
    top: -3px;
    left: 113px;
  }

  .controls__icon {
    fill: @basic-white;
    background-color: transparent;

    &--replay {
      bottom: 40px;
      left: 29px;
    }

    &--subtitles {
      bottom: 39px;
      right: 98px;
    }

    &--fullscreen {
      bottom: 39px;
      right: 47px;
    }

    &:hover,
    &:focus {
      fill: @basic-white;
      opacity: 0.6;
    }

    &:active {
      fill: @basic-white;
      opacity: 0.3;
    }
  }

  .controls__bottom-line {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .controls__scale {
    top: 45px;
    left: 93px;
    width: 540px;
  }

  .controls__toggle {
    position: absolute;
    top: -3px;
    left: 112px;
  }

  .controls__icon {
    &--replay {
      left: 28px;
    }

    &--subtitles {
      right: 100px;
    }

    &--fullscreen {
      right: 49px;
    }
  }
}
