.edge__wrap {
  background-color: @basic-bg;
  text-align: center;
  padding-right: 12px;
  padding-left: 13px;

  &--silver {
    border-bottom: 1px solid @basic-dark-gray;
    background-color: @silver-bg;

    &:last-child {
      border-bottom: none;
    }
  }
}

.edge__item {
  position: relative;
  flex-wrap: wrap;

  &--silver {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @silver-bg;
  }

  &--point {
    padding-top: 35px;
    padding-bottom: 34px;
  }

  &:first-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 37px;
    top: -15px;
    left: 0;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.edge__title {
  text-align: center;
  margin: 0;
  padding-top: 56px;

  &--second {
    padding-top: 39px;
  }

  &--silver {
    padding-top: 26px;
  }
}

.edge__number {
  display: block;
  line-height: 21px;
  margin-top: 12px;
  margin-bottom: 17px;
  text-align: center;

  &--white {
    color: @basic-white;
  }
}

.edge__desc {
  line-height: 21px;
  margin: 0;
  padding-bottom: 40px;

  &--point {
    padding: 0;
    margin-top: 17px;
  }

  &--second {
    padding-bottom: 33px;
  }

  &--white {
    color: @basic-white;
  }

  &--silver {
    padding-bottom: 23px;
  }
}

.edge__list {
  .clear-ul;
}

.edge__point {
  position: relative;
  padding-left: 70px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
    padding-right: 20px;
  }
}

.edge__icon {
  fill: @basic-bg;

  &--house {
    position: absolute;
    width: 39px;
    height: 37px;
    left: 21px;
    top: -9px;
  }

  &--souvenirs {
    padding-right: 21px;
    position: absolute;
    width: 32px;
    height: 38px;
    left: 25px;
    top: -11px;
  }

  &--food {
    padding-right: 40px;
    position: absolute;
    width: 40px;
    height: 35px;
    left: 19px;
    top: -7px;
  }
}

.edge__photo {
  img {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .edge__item {
    display: flex;

    &--reverse {
      flex-direction: row-reverse;
    }

    &:first-child::before {
      display: none;
    }

    &--point {
      padding: 0;
    }

    &--silver {
      padding: 0;
    }
  }

  .edge__wrap {
    width: 33.333%;
    margin: 0;
    padding: 0;
    padding-top: 42px;
    padding-right: 33px;
    padding-bottom: 42px;
    padding-left: 33px;
    box-sizing: border-box;
    flex-grow: 0;

    &--second {
      padding-bottom: 41px;
    }

    &--silver {
      padding-top: 42px;
      padding-right: 40px;
      padding-bottom: 39px;
      padding-left: 40px;
      border: none;

      &:nth-child(2) {
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }

  .edge__photo {
    flex-grow: 1;
  }

  .edge__list {
    display: flex;
  }

  .edge__point {
    width: 33.333%;
    margin: 0;
    padding-top: 158px;
    padding-right: 25px;
    padding-bottom: 60px;
    padding-left: 25px;
    text-align: center;

    &--house {
      order: 0;
      padding-right: 37px;
      padding-left: 33px;
    }

    &--souvenirs {
      order: 2;
      padding-right: 32px;
      padding-left: 27px;
    }

    &--food {
      order: 1;
    }

    &:last-child {
      padding-right: 37px;
    }
  }

  .edge__icon {
    &--house {
      position: absolute;
      width: 75px;
      height: 72px;
      left: 90px;
      top: 59px;
    }

    &--souvenirs {
      padding-right: 21px;
      position: absolute;
      width: 76px;
      height: 76px;
      left: 84px;
      top: 56px;
    }

    &--food {
      padding-right: 40px;
      position: absolute;
      width: 74px;
      height: 84px;
      left: 84px;
      top: 54px;
    }
  }

  .edge__title {
    padding: 0;

    &--second {
      padding-top: 1px;
    }
  }

  .edge__desc {
    margin-top: 28px;
    padding: 0;

    &--point {
      margin-top: 22px;
    }
  }

  .edge__number {
    margin-top: 13px;
    margin-bottom: -5px;

    &--two {
      margin-top: 14px;
    }
  }
}

@media (min-width: @desktop-width) {
  .edge__wrap {
    width: 400px;
    padding-top: 50px;
    padding-right: 55px;
    padding-bottom: 56px;
    padding-left: 55px;

    &--first {
      padding-top: 49px;
    }

    &--second {
      padding-top: 53px;
      padding-right: 85px;
      padding-bottom: 54px;
      padding-left: 84px;
    }

    &--silver {
      padding-top: 44px;
      padding-bottom: 61px;
    }
  }

  .edge__photo {
    &--present {
      position: relative;
      height: 258px;
      overflow: hidden;

      img {
        position: absolute;
        top: -65px;
      }
    }

    &--reverse {
      position: relative;
      height: 256px;
      overflow: hidden;

      img {
        position: absolute;
        top: -13px;
      }
    }
  }

  .edge__point {
    padding-top: 158px;
    padding-right: 47px;
    padding-bottom: 79px;
    padding-left: 47px;

    &--house {
      order: 0;
    }

    &--souvenirs {
      padding-left: 57px;
      padding-right: 43px;
      order: 2;
    }

    &--food {
      order: 1;
    }
  }

  .edge__icon {
    &--house {
      width: 75px;
      height: 74px;
      left: 161px;
      top: 57px;
    }

    &--souvenirs {
      width: 76px;
      height: 75px;
      left: 170px;
      top: 56px;
    }

    &--food {
      width: 74px;
      height: 69px;
      left: 162px;
      top: 62px;
    }
  }

  .edge__desc {
    margin-top: 27px;
    padding: 0;

    &--point {
      margin-top: 21px;
    }
  }
}
