.gallery__post {
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top: 1px solid @gray-light;
}

.gallery__title {
  font-size: 14px;
  margin-top: 10px;
}

.gallery__button {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  border: none;
  background-color: @basic-white;
  margin-top: 13px;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 21px;
    top: -3px;
    left: 0;
    border: none;
    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.gallery__link {
  display: block;
}

.gallery__photo {
  display: block;
}

.gallery__author {
  text-transform: none;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .gallery {
    display: grid;
    width: 648px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__post {
    padding: 0;
    border: none;

    &--first {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .gallery__caption {
    display: flex;
    flex-wrap: wrap;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: @gray-light-bg;
  }

  .gallery__title {
    width: 100%;
    line-height: 24px;
    margin: 0;
  }

  .gallery__author {
    flex-grow: 1;
  }

  .gallery__button {
    margin: 0;
    background-color: @gray-light-bg;

    &::before {
      left: 6px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery__post {
    position: relative;
    border: none;

    &--first {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  .gallery__caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: @basic-white;
  }

  .gallery__button {
    color: @basic-white;
    background-color: transparent;
  }
}
