.intro {
  width: 285px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 11px;
  padding-right: 18px;
  padding-left: 17px;
}

.intro__main {
  margin: 0;
  margin-bottom: 32px;
}

.intro__description {
  margin: 0;
}
