.main-nav__toggle {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;

  &--closed {
    position: absolute;
    width: 23px;
    height: 22px;
    left: 277px;
    top: 240px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--opened {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 17px;
    right: 20px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
