.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.page-footer__signature {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

.page-footer__develop {
  position: relative;
  line-height: 24px;
  margin: 0;
  padding-right: 36px;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    top: -5px;
    right: 0;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
