.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  padding-right: 0;
  padding-bottom: 27px;

  &--index {
    padding-top: 57px;
    padding-right: 50px;
  }

  &--form {
    padding-right: 3px;
  }
}

.page-footer__signature {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

.page-footer__develop {
  position: relative;
  line-height: 24px;
  margin: 0;
  padding-right: 36px;
  color: @basic-black;

  &::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 38px;
    top: -7px;
    right: -3px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 60px;
    padding-right: 57px;

    &--form {
      padding-top: 3px;
    }
  }

  .page-footer__develop {
    padding-right: 42px;

    &::after {
      right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 0 118px;
  }

  .page-footer__develop {
    padding-right: 41px;
  }
}
