.presentation {
  padding-top: 32px;
  margin-bottom: 115px;
  border-top: 1px solid @gray-light;
}

.presentation__text {
  text-align: center;
  padding-right: 27px;
  padding-left: 27px;
}

.presentation__desc {
  line-height: 24px;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;
}

.presentation__video {
  position: relative;
}

.presentation__photo {
  display: block;
}

.presentation__controls {
  position: absolute;
  bottom: -66px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .presentation {
    padding-top: 58px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 43px;
    border: none;
  }

  .presentation__title {
    font-size: 30px;
  }

  .presentation__text {
    padding-right: 100px;
    padding-left: 100px;
  }

  .presentation__video {
    height: 500px;
  }

  .presentation__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .presentation__desc {
    margin-bottom: 79px;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    padding-top: 62px;
    padding-right: 200px;
    padding-left: 200px;
    margin-bottom: 85px;
  }
}
