.presentation {
  padding-top: 32px;
  margin-bottom: 115px;
  border-top: 1px solid #e5e5e5;
}

.presentation__text {
  width: 266px;
  margin: 0 auto;
  text-align: center;
}

.presentation__desc {
  line-height: 26px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 35px;
}

.presentation__video {
  position: relative;
}
