.reserve__wrap {
  display: flex;
  width: 0 auto;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 49px;
}

.reserve__title {
  font-size: 21px;
}

.reserve__text {
  line-height: 24px;
  text-align: center;
}

.reserve__button {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 18px;
}
