.review__section {
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-top: 1px solid @gray-light;

  &--sight {
    padding-bottom: 39px;
  }
}

.review__item {
  display: flex;
  align-items: center;
  margin-top: 20px;

  &--contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &--radio {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    padding-left: 65px;
    margin-top: 37px;
    margin-bottom: 42px;
  }

  &--checkbox {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    padding-left: 65px;
    margin-top: 37px;
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.review__label {
  &--name {
    margin-right: 13px;
  }
}

.review__wrap {
  width: 100%;
  position: relative;

  &--phone::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: @basic-gray;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--mail::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: @basic-gray;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.review__input {
  width: 100%;
  height: 58px;
  line-height: 58px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 22px;
  background-color: @gray-light-bg;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: @basic-black;
  }

  &:hover,
  &:focus {
    background-color: @gray-light;
  }

  &:active {
    border: 4px solid @gray-light;
    background-color: @basic-white;
  }
}

.review__radio {
  display: none;

  &:checked + label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -65px;
    width: 21px;
    height: 21px;
    background-color: @black-light;
    border: 15px solid @gray-light-bg;
    border-radius: 25px;
  }

  & + label {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -65px;
      width: 51px;
      height: 51px;
      background-color: @gray-light-bg;
      border-radius: 25px;
    }
  }

  &:hover + label,
  &:focus + label {
    &::before {
      background-color: @gray-light;
    }
  }

  &:active + label {
    &::before {
      background-color: @dark-gray;
    }
  }

  &:checked:hover + label,
  &:checked:focus + label {
    &::before {
      background-color: @black-light;
      border: 15px solid @gray-light;
    }
  }

  &:checked:active + label {
    &::before {
      background-color: rgba(0, 0, 0, 0.3);
      border: 15px solid @dark-gray;
    }
  }
}

.review__checkbox {
  display: none;

  &:checked + label::before {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  & + label {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -65px;
      width: 51px;
      height: 51px;
      background-color: @gray-light-bg;
      border-radius: 5px;
    }
  }

  &:hover + label,
  &:focus + label {
    &::before {
      background-color: @gray-light;
    }
  }

  &:active + label {
    &::before {
      background-color: @dark-gray;
    }
  }

  &:checked:hover + label,
  &:checked:focus + label {
    &::before {
      background-color: @gray-light;
    }
  }

  &:checked:active + label {
    &::before {
      background-image: url("../img/icon-tick — opacity.svg");
      background-color: @dark-gray;
    }
  }
}

.review__title--strip {
  text-align: center;
  width: 280px;
  display: block;
  margin: 0 auto;
}

.review__textarea {
  width: 280px;
  min-height: 118px;
  margin-top: 15px;
  padding-top: 13px;
  padding-left: 21px;
  background-color: @gray-light-bg;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: @basic-black;
  }
}

.review__button {
  margin-top: 51px;
  padding-top: 18px;
  padding-right: 33px;
  padding-bottom: 14px;
  padding-left: 33px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .review {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review__section {
    padding: 0;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    border: none;

    &--name {
      position: relative;
      padding-bottom: 72px;

      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 292px;
        top: 0;
        left: 0;
        background-color: #dbdbdb;
      }
    }

    &--contacts {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
      padding-bottom: 52px;
    }

    &--effects {
      padding-right: 30px;
      order: -1;
    }

    &--sight {
      grid-column-start: 1;
      grid-column-end: 3;
      padding-bottom: 85px;
    }

    &--emotion {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
    }
  }

  .review__label {
    &--contacts {
      padding-left: 22px;
      margin-bottom: 5px;
    }
  }

  .review__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;

    &--contacts {
      width: 100%;
      flex-direction: column;
    }

    &--sight {
      width: 455px;
    }
  }

  .review__item {
    &--radio {
      margin: 0;
      margin-top: 52px;
    }

    &--checkbox {
      margin: 0;
      margin-top: 60px;
    }
  }

  .review__textarea {
    width: auto;
    margin-top: 55px;
    padding-top: 18px;
    min-height: 160px;
  }

  .review__title {
    display: block;
    font-size: 21px;

    &--strip {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        top: 50%;
        left: -185px;
        background-color: #dbdbdb;
      }

      &::after {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        top: 50%;
        right: -185px;
        background-color: #dbdbdb;
      }
    }

    &--name {
      display: block;
      margin-bottom: 55px;
      text-align: left;
    }

    &--effects {
      margin-bottom: 72px;
    }
  }

  .review__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
  }

  .review__button {
    margin: 0;
    padding-right: 60px;
    padding-left: 49px;
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding-bottom: 66px;
  }

  .review__section {
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;
    border: none;

    &--name {
      padding-left: 80px;
    }

    &--effects {
      padding-left: 200px;
    }

    &--sight {
      padding-bottom: 80px;
    }
  }

  .review__title {
    &--strip::after {
      width: 280px;
      right: -340px;
    }

    &--strip::before {
      width: 280px;
      left: -340px;
    }

    &--effects {
      text-align: left;
    }
  }

  .review__contacts-phone {
    display: none;
  }

  .review__item {
    &--contacts {
      flex-direction: row;
      align-items: center;
    }

    &--radio {
      padding-left: 0;
    }
  }

  .review__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;
    flex-wrap: wrap;

    &--contacts {
      width: 100%;
      flex-direction: row;
    }

    &--sight {
      width: 100%;
    }
  }

  .review__label {
    &--contacts {
      margin: 0;
      margin-right: 16px;
      padding: 0;
    }
  }

  .review__wrap {
    width: 315px;
  }

  .review__input {
    &--contacts {
      padding-right: 58px;
    }
  }

  .review__button {
    padding-right: 133px;
    padding-left: 132px;
  }
}
