.review__section {
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-top: 1px solid @gray-light;

  &--sight {
    padding-bottom: 39px;
  }
}

.review__item {
  display: flex;
  align-items: center;
  margin-top: 20px;

  &--contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &--radio {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    padding-left: 65px;
    margin-top: 37px;
    margin-bottom: 42px;
  }

  &--checkbox {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    padding-left: 65px;
    margin-top: 37px;
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.review__label {
  &--name {
    margin-right: 13px;
  }
}

.review__input {
  width: 100%;
  line-height: 58px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 22px;
  background-color: @gray-light-bg;
  border: none;

  &--desc {
    box-sizing: border-box;
  }

  &--desc::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: @basic-black;
  }
}

.review__radio {
  display: none;

  &:checked + label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -65px;
    width: 21px;
    height: 21px;
    background-color: @basic-black;
    border: 15px solid @gray-light-bg;
    border-radius: 25px;
  }

  & + label {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -65px;
      width: 51px;
      height: 51px;
      background-color: @gray-light-bg;
      border-radius: 25px;
    }
  }
}

.review__checkbox {
  display: none;

  &:checked + label::before {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  & + label {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -65px;
      width: 51px;
      height: 51px;
      background-color: @gray-light-bg;
      border-radius: 5px;
    }
  }
}

.review__textarea {
  width: 280px;
  min-height: 118px;
  margin-top: 15px;
  padding-top: 13px;
  padding-left: 21px;
  background-color: @gray-light-bg;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: @basic-black;
  }
}

.review__button {
  margin-top: 51px;
  padding-top: 18px;
  padding-right: 33px;
  padding-bottom: 14px;
  padding-left: 33px;
  cursor: pointer;
}

.text {
  &--info {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .review {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review__section {
    padding: 0;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    border: none;

    &--contacts {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
    }

    &--effects {
      order: -1;
    }

    &--sight {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &--emotion {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
    }
  }

  .review__label {
    &--contacts {
      padding-left: 22px;
      margin-bottom: 5px;
    }
  }

  .review__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;
    flex-wrap: wrap;

    &--contacts {
      width: 100%;
      flex-direction: column;
    }

    &--sight {
      width: 455px;
    }
  }

  .review__item--checkbox:last-child {
    margin-bottom: 54px;
  }

  .review__textarea {
    width: auto;
    margin-top: 55px;
    padding-top: 18px;
    min-height: 160px;
  }

  .review__title {
    font-size: 21px;
  }

  .review__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
  }

  .review__button {
    margin: 0;
    padding-right: 60px;
    padding-left: 49px;
  }

  .text {
    &--info {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding-bottom: 66px;
  }

  .review__section {
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;
    border: none;
  }

  .review__item {
    &--contacts {
      flex-direction: row;
      align-items: center;
    }
  }

  .review__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;
    flex-wrap: wrap;

    &--contacts {
      width: 100%;
      flex-direction: row;
    }

    &--sight {
      width: 100%;
    }
  }

  .review__button {
    padding-right: 133px;
    padding-left: 132px;
  }
}
