.site-list {
  display: flex;
  flex-direction: column;

  &--closed {
    // display: none;
  }

  .clear-ul;
}

.site-list__item {
  line-height: 39px;
  text-align: center;
  border-top: 1px solid @white-opacity;
  border-bottom: 1px solid @dark-border;
  background-color: @basic-bg;

  &--logo {
    padding: 0;
    line-height: 0;
    height: 58px;
    border: none;
    background-color: @basic-white;
  }
}

.site-list__link {
  font-size: 18px;
  display: block;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  color: @basic-white;

  &--first {
    border-top: none;
  }

  &--last {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    background-color: @hover-bg;
  }

  &:active {
    color: @gray-opacity;
    background-color: @active-bg;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    padding-left: 49px;
    padding-right: 26px;
    flex-direction: row;
    justify-content: start;
  }

  .site-list__item {
    width: 25%;
    background-color: @basic-white;
    border-bottom: none;

    &:nth-child(2) {
      margin-left: -15px;
    }

    &:nth-child(3) {
      margin-left: 112px;
    }
  }

  .site-list__link {
    font-size: 14px;
    line-height: 55px;
    padding: 0;
    color: @basic-black;

    &:hover,
    &:focus {
      color: @basic-bg;
      background-color: @basic-white;
    }

    &:active {
      color: @black-ranslucency;
    }

    &--brown {
      color: @light-brown;

      &:hover,
      &:focus {
        color: @basic-brown;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    padding-left: 90px;
    padding-right: 71px;
  }
}
