.site-list {
  .clear-ul;
}

.site-list__item {
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  background-color: @basic-bg;
}

.site-list__link {
  font-size: 18px;
  font-weight: bold;
  color: @basic-white;

  &--first {
    border-top: none;
  }

  &--last {
    border-bottom: none;
  }
}
