.social-icon {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 47px;
}

.social-icon__link {
  width: 46px;
  height: 48px;
  background-color: @basic-bg;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: @hover-bg;
  }

  &:active {
    background-color: @active-bg;
  }
}

@media (min-width: @tablet-width) {
  .social-icon {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 34px;
    margin-right: 8px;
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .social-icon {
    margin-top: 36px;
  }
}
