@font-face {
  font-family: "PT Sans", sans-serif;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans", sans-serif;
  src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 56px;
}
.page-header__logo {
  position: absolute;
  top: 224px;
  left: 50%;
  transform: translateX(-50%);
}
.page-header__logo--moved {
  top: 232px;
}
@media (min-width: 768px) {
  .page-header {
    padding-bottom: 0;
  }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 7px;
  bottom: 57px;
  left: 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2) 100%);
}
.site-list__item {
  line-height: 39px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  background-color: #81b3d2;
}
.site-list__item--logo {
  padding: 0;
  line-height: 0;
  height: 58px;
  border: none;
  background-color: #ffffff;
}
.site-list__link {
  font-size: 18px;
  display: block;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}
.site-list__link--first {
  border-top: none;
}
.site-list__link--last {
  border-bottom: none;
}
.site-list__link:hover,
.site-list__link:focus {
  background-color: #669EC0;
}
.site-list__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}
@media (min-width: 768px) {
  .site-list {
    padding-left: 49px;
    padding-right: 26px;
    flex-direction: row;
    justify-content: start;
  }
  .site-list__item {
    width: 25%;
    background-color: #ffffff;
    border-bottom: none;
  }
  .site-list__item:nth-child(2) {
    margin-left: -15px;
  }
  .site-list__item:nth-child(3) {
    margin-left: 112px;
  }
  .site-list__link {
    font-size: 14px;
    line-height: 55px;
    padding: 0;
    color: #000000;
  }
  .site-list__link:hover,
  .site-list__link:focus {
    color: #81b3d2;
    background-color: #ffffff;
  }
  .site-list__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .site-list__link--brown {
    color: #766357;
  }
  .site-list__link--brown:hover,
  .site-list__link--brown:focus {
    color: #604e43;
  }
  .site-list__link--brown:active {
    opacity: 0.3;
  }
  .site-list__link--left {
    text-align: left;
  }
  .site-list__link--right {
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .site-list {
    padding-left: 90px;
    padding-right: 71px;
  }
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
.title--white {
  color: #ffffff;
}
@media (min-width: 768px) {
  .title {
    font-size: 21px;
  }
}
.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.text--info {
  display: none;
}
@media (min-width: 768px) {
  .text {
    line-height: 21px;
  }
  .text--info {
    display: block;
    margin-top: 20px;
  }
}
.header-main {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .header-main {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }
}
.header-main__bg {
  position: relative;
  padding-top: 89px;
  padding-bottom: 85px;
}
.header-main__bg--gallery {
  padding-top: 50px;
  padding-bottom: 68px;
}
.header-main__bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 26px;
  bottom: 0;
  left: 0;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-main__pic {
  width: 282px;
  display: block;
  margin: 0 auto;
}
.header-main__pic--clip {
  width: 229px;
}
@media (min-width: 768px) {
  .header-main {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .header-main__bg {
    padding-top: 76px;
    padding-bottom: 91px;
  }
  .header-main__bg--gallery {
    padding-top: 93px;
    padding-bottom: 117px;
  }
  .header-main__bg::after {
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }
  .header-main__pic {
    width: 461px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .header-main {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 768px auto;
  }
}
@media (min-width: 1280px) {
  .header-main {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .header-main__bg {
    padding-top: 78px;
    padding-bottom: 89px;
  }
  .header-main__bg--gallery {
    padding-top: 101px;
    padding-bottom: 120px;
  }
  .header-main__bg::after {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1280px) and (min-resolution: 144dpi), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-main {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 1200px auto;
  }
}
.intro {
  text-align: center;
  margin: 0 auto;
  padding-top: 33px;
  padding-right: 25px;
  padding-bottom: 29px;
  padding-left: 25px;
}
.intro--gallery {
  padding-top: 30px;
  padding-right: 21px;
  padding-bottom: 31px;
}
.intro--form {
  padding-top: 36px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 24px;
}
.intro__main {
  margin: 0;
  margin-bottom: 28px;
}
.intro__main--title {
  margin-bottom: 32px;
}
.intro__description {
  margin: 0;
  line-height: 24px;
}
.intro__description--name {
  line-height: 26;
}
@media (min-width: 768px) {
  .intro {
    padding-top: 45px;
    padding-right: 124px;
    padding-bottom: 51px;
    padding-left: 124px;
  }
  .intro--gallery {
    padding-top: 65px;
    padding-right: 161px;
    padding-bottom: 80px;
    padding-left: 161px;
  }
  .intro--form {
    padding-top: 70px;
    padding-right: 165px;
    padding-bottom: 79px;
    padding-left: 165px;
  }
  .intro__main {
    font-size: 21px;
    margin: 0;
    margin-bottom: 33px;
  }
  .intro__main--gallery {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .intro__main--form {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding-top: 55px;
    padding-right: 358px;
    padding-bottom: 41px;
    padding-left: 355px;
  }
  .intro--gallery {
    padding-top: 99px;
    padding-right: 380px;
    padding-bottom: 81px;
    padding-left: 380px;
  }
  .intro--form {
    padding-top: 112px;
    padding-right: 380px;
    padding-bottom: 62px;
    padding-left: 380px;
  }
  .intro__main--gallery {
    margin-bottom: 35px;
  }
}
.edge__wrap {
  background-color: #81b3d2;
  text-align: center;
  padding-right: 12px;
  padding-left: 13px;
}
.edge__wrap--silver {
  border-bottom: 1px solid #d6d6d6;
  background-color: #eeeeee;
}
.edge__wrap--silver:last-child {
  border-bottom: none;
}
.edge__item {
  position: relative;
}
.edge__item--silver {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eeeeee;
}
.edge__item--point {
  padding-top: 35px;
  padding-bottom: 35px;
}
.edge__item:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 37px;
  top: -15px;
  left: 0;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.edge__title {
  text-align: center;
  margin: 0;
  padding-top: 57px;
}
.edge__title--second {
  padding-top: 36px;
}
.edge__title--silver {
  padding-top: 24px;
}
.edge__number {
  display: block;
  line-height: 21px;
  margin-top: 11px;
  margin-bottom: 17px;
  text-align: center;
}
.edge__number--white {
  color: #ffffff;
}
.edge__desc {
  line-height: 21px;
  margin: 0;
  padding-bottom: 37px;
}
.edge__desc--point {
  padding: 0;
  margin-top: 17px;
}
.edge__desc--white {
  color: #ffffff;
}
.edge__desc--silver {
  padding-bottom: 25px;
}
.edge__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.edge__point {
  position: relative;
  padding-left: 70px;
  margin-bottom: 26px;
}
.edge__point:last-child {
  margin-bottom: 0;
}
.edge__point--house::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 37px;
  left: 21px;
  top: -9px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-right: 11px;
}
.edge__point--souvenirs {
  padding-right: 21px;
}
.edge__point--souvenirs::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 37px;
  left: 25px;
  top: -11px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-right: 11px;
}
.edge__point--food {
  padding-right: 40px;
}
.edge__point--food::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 36px;
  left: 19px;
  top: -7px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-right: 11px;
}
.edge__photo img {
  display: block;
}
@media (min-width: 768px) {
  .edge__item {
    display: flex;
  }
  .edge__item--reverse {
    flex-direction: row-reverse;
  }
  .edge__item:first-child::before {
    display: none;
  }
  .edge__item--point {
    padding: 0;
  }
  .edge__item--silver {
    padding: 0;
  }
  .edge__wrap {
    width: 33.333%;
    margin: 0;
    padding: 0;
    padding-top: 42px;
    padding-right: 33px;
    padding-bottom: 42px;
    padding-left: 33px;
    box-sizing: border-box;
    flex-grow: 0;
  }
  .edge__wrap--second {
    padding-bottom: 41px;
  }
  .edge__wrap--silver {
    padding-top: 42px;
    padding-right: 40px;
    padding-bottom: 39px;
    padding-left: 40px;
    border: none;
  }
  .edge__wrap--silver:nth-child(2) {
    padding-right: 50px;
    padding-left: 50px;
  }
  .edge__photo {
    flex-grow: 1;
  }
  .edge__list {
    display: flex;
  }
  .edge__point {
    width: 33.333%;
    margin: 0;
    padding-top: 160px;
    padding-right: 32px;
    padding-bottom: 60px;
    padding-left: 32px;
    text-align: center;
  }
  .edge__point--house {
    order: 0;
  }
  .edge__point--house::before {
    width: 65px;
    height: 70px;
    top: 62px;
    left: 90px;
  }
  .edge__point--souvenirs {
    order: 2;
  }
  .edge__point--souvenirs::before {
    width: 52px;
    height: 73px;
    top: 59px;
    left: 95px;
  }
  .edge__point--food {
    order: 1;
  }
  .edge__point--food::before {
    width: 63px;
    height: 67px;
    top: 64px;
    left: 90px;
  }
  .edge__title {
    padding: 0;
  }
  .edge__desc {
    margin-top: 28px;
    padding: 0;
  }
  .edge__desc--point {
    margin-top: 22px;
  }
  .edge__number {
    margin-top: 13px;
    margin-bottom: -5px;
  }
}
@media (min-width: 1280px) {
  .edge__wrap {
    width: 400px;
    padding-top: 50px;
    padding-right: 55px;
    padding-bottom: 56px;
    padding-left: 55px;
  }
  .edge__wrap--second {
    padding-top: 53px;
    padding-right: 85px;
    padding-bottom: 54px;
    padding-left: 84px;
  }
  .edge__wrap--silver {
    padding-top: 44px;
    padding-bottom: 61px;
  }
  .edge__photo--present {
    position: relative;
    height: 258px;
    overflow: hidden;
  }
  .edge__photo--present img {
    position: absolute;
    top: -65px;
  }
  .edge__photo--reverse {
    position: relative;
    height: 256px;
    overflow: hidden;
  }
  .edge__photo--reverse img {
    position: absolute;
    top: -13px;
  }
  .edge__point {
    padding-top: 160px;
    padding-right: 50px;
    padding-bottom: 83px;
    padding-left: 50px;
  }
  .edge__point--house {
    order: 0;
  }
  .edge__point--house::before {
    left: 160px;
    height: 74px;
    top: 59px;
  }
  .edge__point--souvenirs {
    order: 2;
  }
  .edge__point--souvenirs::before {
    left: 167px;
    height: 75px;
    top: 58px;
  }
  .edge__point--food {
    order: 1;
  }
  .edge__point--food::before {
    left: 162px;
    height: 69px;
    top: 64px;
  }
  .edge__desc {
    margin-top: 27px;
    padding: 0;
  }
  .edge__desc--point {
    margin-top: 21px;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-right: 3px;
  padding-bottom: 27px;
}
.page-footer--index {
  padding-top: 55px;
  padding-right: 49px;
}
.page-footer__signature {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}
.page-footer__develop {
  position: relative;
  line-height: 24px;
  margin: 0;
  padding-right: 36px;
  color: #000000;
}
.page-footer__develop::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 38px;
  top: -7px;
  right: -3px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 60px;
    padding-right: 57px;
  }
  .page-footer--form {
    padding-top: 3px;
  }
  .page-footer__develop {
    padding-right: 42px;
  }
  .page-footer__develop::after {
    right: 0;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    padding: 0 118px;
  }
}
.gallery__post {
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top: 1px solid #e5e5e5;
}
.gallery__title {
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 0;
}
.gallery__button {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  border: none;
  background-color: #ffffff;
  margin-top: 13px;
}
.gallery__button::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 21px;
  top: -3px;
  left: 0;
  border: none;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__link {
  display: block;
}
.gallery__photo {
  display: block;
}
.gallery__author {
  text-transform: none;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery {
    display: grid;
    width: 648px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }
  .gallery__post {
    padding: 0;
    border: none;
  }
  .gallery__post--first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .gallery__photo {
    width: auto;
    height: 267px;
  }
  .gallery__photo--first {
    height: 400px;
  }
  .gallery__caption {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    background-color: #f2f2f2;
  }
  .gallery__caption--flora {
    padding-right: 29px;
  }
  .gallery__caption--road {
    padding-right: 36px;
  }
  .gallery__caption--bridge {
    padding-right: 29px;
  }
  .gallery__title {
    width: 100%;
    line-height: 24px;
    margin: 0;
    margin-top: -5px;
  }
  .gallery__author {
    flex-grow: 1;
  }
  .gallery__button {
    margin: 0;
    background-color: #f2f2f2;
  }
  .gallery__button::before {
    left: 6px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gallery__post {
    position: relative;
    border: none;
  }
  .gallery__post--first {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .gallery__caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  .gallery__button {
    color: #ffffff;
    background-color: transparent;
  }
}
.social-icon {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 47px;
}
.social-icon__link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social-icon__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-icon__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-icon__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-icon__link:hover,
.social-icon__link:focus {
  background-color: #669EC0;
}
.social-icon__link:active {
  background-color: #5496BD;
}
@media (min-width: 768px) {
  .social-icon {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 34px;
    margin-right: 8px;
    margin-bottom: 37px;
  }
}
@media (min-width: 1280px) {
  .social-icon {
    margin-top: 36px;
  }
}
.clear-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-body {
  background-color: #f2f2f2;
}
.page-body__wrap {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-body__wrap {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .page-body__wrap {
    width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}
.reserve__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
  padding-right: 17px;
  padding-bottom: 49px;
  padding-left: 17px;
}
.reserve__title {
  font-size: 21px;
}
.reserve__text {
  margin-top: 22px;
  line-height: 24px;
  text-align: center;
}
.reserve__button {
  display: block;
  width: 280px;
  margin-top: 14px;
  padding-top: 14px;
  padding-bottom: 18px;
}
.reserve__map img {
  display: block;
}
@media (min-width: 768px) {
  .reserve__wrap {
    padding-top: 59px;
    padding-right: 155px;
    padding-bottom: 58px;
    padding-left: 155px;
  }
  .reserve__title {
    font-size: 30px;
  }
  .reserve__text {
    margin-top: 33px;
  }
  .reserve__button {
    width: 458px;
    margin-top: 25px;
  }
}
@media (min-width: 1280px) {
  .reserve__wrap {
    padding-top: 62px;
    padding-right: 383px;
    padding-bottom: 66px;
    padding-left: 382px;
  }
  .reserve__button {
    margin-top: 32px;
  }
}
.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.presentation {
  padding-top: 32px;
  margin-bottom: 115px;
  border-top: 1px solid #e5e5e5;
}
.presentation__text {
  text-align: center;
  padding-right: 27px;
  padding-left: 27px;
}
.presentation__desc {
  line-height: 24px;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 35px;
}
.presentation__video {
  position: relative;
}
.presentation__photo {
  display: block;
}
.presentation__controls {
  position: absolute;
  bottom: -66px;
  left: 20px;
}
@media (min-width: 768px) {
  .presentation {
    padding-top: 58px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 43px;
    border: none;
  }
  .presentation__title {
    font-size: 30px;
  }
  .presentation__text {
    padding-right: 100px;
    padding-left: 100px;
  }
  .presentation__video {
    height: 500px;
  }
  .presentation__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .presentation__desc {
    margin-bottom: 79px;
  }
}
@media (min-width: 1280px) {
  .presentation {
    padding-top: 62px;
    padding-right: 200px;
    padding-left: 200px;
    margin-bottom: 85px;
  }
}
.controls__top-line {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.controls__scale {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.controls__toggle {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 10px;
}
.controls__bottom-line {
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
}
.controls__replay {
  position: absolute;
  bottom: 24px;
  left: 25px;
  width: 16px;
  height: 20px;
  border: none;
  color: #333333;
  opacity: 0.8;
  background-image: url("../img/icon-video-replay.svg");
  background-color: transparent;
}
.controls__subtitles {
  position: absolute;
  bottom: 24px;
  right: 74px;
  width: 32px;
  height: 20px;
  border: none;
  color: #333333;
  opacity: 0.8;
  background-image: url("../img/icon-video-subtitles.svg");
  background-color: transparent;
}
.controls__fullscreen {
  position: absolute;
  bottom: 24px;
  right: 23px;
  width: 20px;
  height: 20px;
  border: none;
  color: #333333;
  opacity: 0.8;
  background-image: url("../img/icon-video-fullscreen.svg");
  background-color: transparent;
}
@media (min-width: 768px) {
  .controls__top-line {
    height: 93px;
    width: 100%;
  }
  .controls__scale {
    top: 47px;
    left: 93px;
    width: 389px;
  }
  .controls__toggle {
    position: absolute;
    top: -3px;
    left: 113px;
  }
  .controls__replay {
    position: absolute;
    bottom: 37px;
    left: 35px;
  }
  .controls__subtitles {
    position: absolute;
    bottom: 37px;
    right: 92px;
  }
  .controls__fullscreen {
    position: absolute;
    bottom: 37px;
    right: 47px;
  }
  .controls__bottom-line {
    display: none;
  }
}
@media (min-width: 1280px) {
  .controls__scale {
    top: 45px;
    left: 93px;
    width: 540px;
  }
  .controls__toggle {
    position: absolute;
    top: -3px;
    left: 112px;
  }
  .controls__replay {
    position: absolute;
    bottom: 37px;
    left: 35px;
  }
  .controls__subtitles {
    position: absolute;
    bottom: 37px;
    right: 92px;
  }
  .controls__fullscreen {
    position: absolute;
    bottom: 37px;
    right: 47px;
  }
}
.review__section {
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  border-top: 1px solid #e5e5e5;
}
.review__section--sight {
  padding-top: 15px;
  padding-bottom: 39px;
}
.review__section--effects {
  padding-top: 21px;
}
.review__section--emotion {
  padding-bottom: 50px;
}
.review__item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.review__item--contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 15px;
}
.review__item--radio {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 78px;
  margin-top: 39px;
  margin-bottom: 42px;
}
.review__item--radio:last-child {
  margin-bottom: 17px;
}
.review__item--checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 79px;
  margin-top: 37px;
  margin-bottom: 54px;
}
.review__item--checkbox:last-child {
  margin-bottom: 0;
}
.review__label--name {
  margin-right: 15px;
}
.review__label--contacts {
  padding-left: 22px;
  margin-bottom: 7px;
}
.review__wrap {
  width: 100%;
  position: relative;
}
.review__wrap--phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.review__wrap--mail::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.review__input {
  width: 100%;
  padding: 14px 17px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 4px solid transparent;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.review__input::-moz-placeholder {
  color: #000000;
}
.review__input::placeholder {
  color: #000000;
}
.review__input:hover,
.review__input:focus {
  background-color: #e5e5e5;
}
.review__input:active {
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.review__input--contacts {
  padding-top: 15px;
  padding-bottom: 11px;
}
.review__radio {
  display: none;
}
.review__radio:checked + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -75px;
  width: 21px;
  height: 21px;
  background-color: #333333;
  border: 15px solid #f2f2f2;
  border-radius: 25px;
}
.review__radio + label {
  position: relative;
  cursor: pointer;
}
.review__radio + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -75px;
  width: 51px;
  height: 51px;
  background-color: #f2f2f2;
  border-radius: 25px;
}
.review__radio + label:hover::before,
.review__radio + label:focus::before {
  background-color: #e5e5e5;
}
.review__radio + label:active::before {
  background-color: #d5d5d5;
}
.review__radio:checked + label:hover::before,
.review__radio:checked + label:focus::before {
  background-color: #333333;
  border: 15px solid #e5e5e5;
}
.review__radio:checked + label:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  border: 15px solid #d5d5d5;
}
.review__checkbox {
  display: none;
}
.review__checkbox:checked + label::after {
  display: block;
}
.review__checkbox + label {
  position: relative;
  cursor: pointer;
}
.review__checkbox + label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  top: 3px;
  left: -63px;
  background-image: url("../img/tick.svg");
  display: none;
}
.review__checkbox + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -80px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.review__checkbox + label:hover::before,
.review__checkbox + label:focus::before {
  background-color: #e5e5e5;
}
.review__checkbox + label:active::before {
  background-color: #d5d5d5;
}
.review__checkbox:checked + label:hover::before,
.review__checkbox:checked + label:focus::before {
  background-color: #e5e5e5;
}
.review__checkbox:checked + label:active::after {
  opacity: 0.3;
}
.review__title--strip {
  text-align: center;
  width: 280px;
  display: block;
  margin: 0 auto;
}
.review__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 280px;
  min-height: 160px;
  margin-top: 15px;
  padding-top: 13px;
  padding-left: 21px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  resize: none;
}
.review__textarea::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.review__textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.review__button {
  font-family: inherit;
  margin-top: 44px;
  padding-top: 16px;
  padding-right: 49px;
  padding-bottom: 14px;
  padding-left: 47px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .review {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .review__section {
    padding: 0;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    border: none;
  }
  .review__section--name {
    position: relative;
    padding-bottom: 69px;
    padding-left: 59px;
  }
  .review__section--name::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 292px;
    top: 0;
    left: 0;
    background-color: #dbdbdb;
  }
  .review__section--contacts {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    padding-bottom: 52px;
  }
  .review__section--effects {
    padding-right: 30px;
    padding-left: 59px;
    order: -1;
  }
  .review__section--sight {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 85px;
  }
  .review__section--emotion {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
  }
  .review__label--contacts {
    padding-left: 22px;
    margin-bottom: 8px;
  }
  .review__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .review__inner--contacts {
    width: 100%;
    flex-direction: column;
  }
  .review__inner--sight {
    width: 466px;
  }
  .review__item--radio {
    margin: 0;
    margin-top: 52px;
  }
  .review__item--checkbox {
    margin: 0;
    margin-top: 60px;
    margin-left: 5px;
    width: 201px;
    box-sizing: border-box;
  }
  .review__item--contacts {
    margin-top: 23px;
  }
  .review__item--mail {
    margin-top: 30px;
  }
  .review__textarea {
    width: auto;
    margin-top: 55px;
    padding-top: 18px;
    min-height: 160px;
  }
  .review__title {
    display: block;
    font-size: 21px;
  }
  .review__title--strip {
    position: relative;
  }
  .review__title--strip::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 50%;
    left: -185px;
    background-color: #dbdbdb;
  }
  .review__title--strip::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 50%;
    right: -185px;
    background-color: #dbdbdb;
  }
  .review__title--name {
    display: block;
    margin-bottom: 55px;
    text-align: left;
  }
  .review__title--effects {
    margin-bottom: 72px;
    text-align: left;
  }
  .review__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
  .review__button {
    margin: 0;
    padding-right: 77px;
    padding-left: 65px;
  }
}
@media (min-width: 1280px) {
  .review {
    padding-bottom: 67px;
  }
  .review__section {
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;
    border: none;
  }
  .review__section--name {
    padding-left: 80px;
    padding-bottom: 68px;
  }
  .review__section--effects {
    padding-left: 200px;
  }
  .review__section--contacts {
    padding-bottom: 52px;
  }
  .review__section--sight {
    padding-bottom: 83px;
  }
  .review__section--emotion {
    padding-bottom: 0;
  }
  .review__title--strip::after {
    width: 280px;
    right: -340px;
  }
  .review__title--strip::before {
    width: 280px;
    left: -340px;
  }
  .review__title--effects {
    text-align: left;
  }
  .review__contacts-phone {
    display: none;
  }
  .review__item--contacts {
    flex-direction: row;
    align-items: center;
    margin-top: 26px;
  }
  .review__item--radio {
    padding-left: 0;
  }
  .review__item--checkbox {
    margin-left: 2px;
    width: 203px;
  }
  .review__item--checkbox:nth-child(2) {
    margin-left: 22px;
  }
  .review__item--checkbox:nth-child(3) {
    margin-left: 21px;
  }
  .review__item--mail {
    margin-top: 24px;
  }
  .review__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;
    flex-wrap: wrap;
  }
  .review__inner--contacts {
    width: 100%;
    flex-direction: row;
  }
  .review__inner--sight {
    width: 100%;
    margin-top: 0;
  }
  .review__label--contacts {
    margin: 0;
    margin-right: 16px;
    padding: 0;
  }
  .review__label--mail {
    margin-right: 20px;
  }
  .review__wrap {
    width: 315px;
  }
  .review__input--contacts {
    padding-right: 58px;
  }
  .review__info {
    margin-top: 60px;
  }
  .review__button {
    padding-right: 147px;
    padding-left: 150px;
  }
}
.main-nav__toggle {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.main-nav__toggle--closed::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 22px;
  left: 277px;
  top: 240px;
  background-image: url("../img/icon-menu.svg");
}
.main-nav__toggle--closed:hover::after,
.main-nav__toggle--closed:focus::after {
  opacity: 0.6;
}
.main-nav__toggle--closed:active {
  opacity: 0.3;
}
.main-nav__toggle--opened::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 17px;
  right: -300px;
  background-image: url("../img/icon-cross.svg");
  fill: #ffffff;
}
.main-nav__toggle--opened:hover::after,
.main-nav__toggle--opened:focus::after {
  opacity: 0.6;
}
.main-nav__toggle--opened:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.transfer {
  display: none;
}
@media (min-width: 768px) {
  .transfer {
    display: block;
  }
  .transfer--change {
    display: none;
  }
}
@media (min-width: 1280px) {
  .transfer--change {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
